* {
    box-sizing: border-box;
}

body {
    margin: 0;
      font-family: 'Vazir' , sans-serif !important;
}

#root {
    min-height: 100vh;
    background-color: dimgray;
}

@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir-Medium.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazir-Regular.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazir-Bold.woff2') format('woff2');
    font-weight: 700;
}