* {
  box-sizing: border-box;
}

.todo-container {
  width: 90%;
  max-width: 500px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 600px) {
  .todo-container {
    width: 94%;
    margin: 30px auto;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }
}

@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir-Medium.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazir-Regular.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazir-Bold.woff2') format('woff2');
    font-weight: 700;
}